.total {
  font-size: $textsize;
}
.warning {
  font-size: $textsize;
}

.cart-thing {
  display: flex;
  border: 1px solid black;
  margin-bottom: 5px;
}

.cart-qnt {
  font-weight: bold;
  font-size: $textsize;
  position: absolute;
  right: $gpadding;
  padding-top: $gpadding;
}

@media screen and (max-width: 600px) {
  .cart-thing {
    display: block;
  }

  .cart-qnt {
    position: static;
    padding-left: 0;
    padding-top: 0;
  }
}

.modal {
  position: fixed;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.modal-body {
  padding: 2rem;
  width: 400px;
  border-radius: 5px;
  background: white;
  height: 200px;
}